<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <!-- Compiled and minified CSS -->
    <!-- <link rel="stylesheet" href="../bower_components/materialize/dist/css/materialize.min.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css">
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="120x120" href="assets/icon-iphone.png">
    <meta name="apple-mobile-web-app-title" content="Rosie">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default-translucent">

  <!-- Compiled and minified JavaScript -->
</head>
    <body ng-app="GroceriesApp">

    <div ng-controller="listController">

      <div class="navbar-fixed">
        <nav class="green">
          <div class="nav-wrapper">
            <a ui-sref="landing" class="brand-logo" ui-view="title">Rosie</a>
            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
            <li><a ui-sref="landing">Dashboard</a></li>
              <li><a ui-sref="list">List</a></li>
              <li><a ui-sref="pantry">Pantry</a></li>
              <li><a ui-sref="recipes">Recipes</a></li>
              <li><a ui-sref="household">Household</a></li>
              <li><a ui-sref="account">Account</a></li>
              <li><a ui-sref="about">About Rosie</a></li>
              <li><a ui-sref="logout">Logout</a></li>
            </ul>
            <ul class="side-nav" id="mobile-demo">
              <li><a ui-sref="landing">Dashboard</a></li>
              <li><a ui-sref="list">List</a></li>
              <li><a ui-sref="pantry">Pantry</a></li>
              <li><a ui-sref="recipes">Recipes</a></li>
              <li><a ui-sref="household">Household</a></li>
              <li><a ui-sref="account">Account</a></li>
              <li><a ui-sref="about">About Rosie</a></li>
              <li><a ui-sref="logout">Logout</a></li>
            </ul>
          </div>
        </nav>
      </div>

      <div ui-view="mainArea">
        
        <ul class="collapsible" data-collapsible="accordion">
          <li>
            <div class="collapsible-header"><i class="material-icons">speaker_notes</i>You Might Need...<span class="badge">{{ suggestions.length }}</span></div>
            <div class="collapsible-body container">
              <ul class="collection">
                <li class="collection-item" ng-repeat="item in suggestions track by $index">{{ item }}
                  <span class="right">
                    <i class="material-icons" onclick="Materialize.toast('Suggestion removed',500)" ng-click="removeSuggestion($index)">not_interested</i>
                    <i class="material-icons" onclick="Materialize.toast('Added to list',500)" ng-click="addSuggestion($index)">done</i>
                  </span>
                </li>
              </ul>
            </div>
          </li>
          <li>
            <div class="collapsible-header"><i class="material-icons">whatshot</i>What's In Season?</div>
            <div class="collapsible-body container">
              
              <div class="row">
                <div class="col s6 m4" ng-repeat="fruit in summer track by $index">
                  <div class="card grey">
                    <div class="card-content white-text">
                      <span class="card-title" ng-bind="fruit"></span>
                    </div>
                    <div class="card-action">
                      <i class="material-icons left">not_interested</i>
                      <i class="material-icons right">done</i>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </li>
          <li>
            <div class="collapsible-header"><i class="material-icons">place</i>Farmer's Markets Today</div>
            <div class="collapsible-body">
              <div ng-bind="todaysMarket.Name"></div>
              <div ng-bind="todaysMarket.Address"></div>
              <div ng-bind="todaysMarket.Products"></div>
              <div ng-bind="todaysMarket.Schedule"></div>
              <div><a ng-href="{{ todaysMarket.GoogleLink }}">Map</a></div>
            </div>
          </li>
        </ul>

      </div>

    </div>
    <!-- // <script src="../bower_components/jquery/dist/jquery.min.js"></script> -->
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <!-- // <script src="../bower_components/angular/angular.js"></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>
    <!-- // <script src="../bower_components/materialize/dist/js/materialize.min.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/js/materialize.min.js"></script>
    <script src="app.js"></script>
    <script src="controllers/listController.js"></script>
    <script>
      $(document).ready(function(){
        $('.button-collapse').sideNav({
          menuWidth: 240, // Default is 240
          edge: 'left', // Choose the horizontal origin
          closeOnClick: true // Closes side-nav on <a> clicks, useful for Angular/Meteor
        });
        $('.collapsible').collapsible({
              accordion : true // true for accordion style, false for expandable
            });
      });
    </script>

</body>
</html>