<!-- HEADER with 'Rosie' logo -->
<div class="section green">
  <h2 class="header center-align" id="login-logo">Rosie</h2>
</div>

<!-- Parallax image 1 -->
<div class="parallax-container" style="height: 250px">
  <div class="parallax"><img src="../assets/login1.jpg"></div>
</div>

<!-- Sign Up content Area -->
<div class="green lighten-5">
  <div class="container-600">
    <div class="section">
      <div class="row">
        <h5 class="center-align"><span class="logo-inline">Rosie</span> is the shopping list that <em>builds itself.</em></h5>
        <p class="center-align">Sign up now and let Rosie start working for you.</p>
        <div class="row valign-wrapper">
          <div class="col s12">
            <!-- Signin button, calls Auth0 login() function -->
            <a href ng-click="login()" class="valign center-align green waves-effect waves-light btn-large signup-button">Sign Up</a>
          </div>
        </div>
        <div class="row">
          <div class="col s12">
            <!-- Signin button, calls Auth0 login() function -->
            <h6 class="center-align"><a href ng-click="login()" class="center-align">Sign In</a></h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Parallax image 2 -->
<div class="parallax-container">
  <div class="parallax"><img src="../assets/login2.jpg"></div>
</div>

<!-- Jquery to enable parallax -->
<script>
  $(document).ready(function(){
    $('.parallax').parallax();
  });
</script>
