<p class="center-align">
  <a class="btn waves-effect waves-light green" ui-sref="pantry">Back to Pantry</a>
</p>

<div class="row">
  <h4 class="center-align">Pantry Builder</h4>
</div>

<!-- Search for item or category -->
<form class="row">
  <div class="input-field col s11 m11 l6 offset-l3">
    <div class ="row">
      <i class="material-icons prefix">shopping_basket</i>
      <input class="col" id="pantryItem" type="text" ng-model="userPantryItem">
      <i class="col material-icons prefix not-interested" ng-click="userPantryItem = null">not_interested</i>
      <label for="pantryItem">Quick add items to pantry</label>
    </div>
    <button class="btn waves-effect waves-light green right" ng-click="addItem(userPantryItem)" onclick="Materialize.toast('Added',500)">Add</button>
  </div>
</form>

<!-- Search Results -->
<div class="row">
  <ul class="col s12 l6 offset-l3 collection" ng-hide="!userPantryItem.length">
    <li class="cursor collection-item pantry-list-item" ng-repeat="item in masterList | filter:{name: userPantryItem}" onclick="Materialize.toast('Added',500)"> 
    <span class="item-name">{{ item.name }}</span>
    <span class="item-options">
      <span class="pantry-button" ng-show="!loadingPantry() && !isAdded(item.name)" ng-click="addItem(item.name)" onclick="Materialize.toast('Added To Pantry',500)">Have</span>
      <span class="pantry-button" ng-show="!loadingPantry() && !isAdded(item.name)" ng-click="needItem(item.name)" onclick="Materialize.toast('Added To Shopping List',500)">Need</span>
      <span class="pantry-button-disabled" ng-show="!loadingPantry() && isAdded(item.name)">Added</span>
      <span class="pantry-button-loading" ng-show="loadingPantry()">Loading...</span>
    </span>
    </li>
  </ul>
</div>

<!-- Add form Category -->
<div class="row">
  <div class="center-align">Add items by category</div>
</div>

<div class="row">
  <ul class="collection with-header col s12 m6 l4" ng-repeat="category in categories">
    <li class="collection-header" ng-click="setVisible(category)"><strong>{{category}}</strong></li>
    <li class="collection-item pantry-list-item" ng-repeat="item in masterList | filter: {type: category}" ng-show="checkVisible(category)">
      <span class="item-name">{{ item.name }}</span>
      <span class="item-options">
        <span class="pantry-button" ng-show="!loadingPantry() && !isAdded(item.name)" ng-click="addItem(item.name)" onclick="Materialize.toast('Added To Pantry',500)">Have</span>
        <span class="pantry-button" ng-show="!loadingPantry() && !isAdded(item.name)" ng-click="needItem(item.name)" onclick="Materialize.toast('Added To Shopping List',500)">Need</span>
        <span class="pantry-button-disabled" ng-show="!loadingPantry() && isAdded(item.name)">Added</span>
        <span class="pantry-button-loading" ng-show="loadingPantry()">Loading...</span>
      </span>
    </li>
  </ul>
</div>




<script>
  // $(document).ready(function(){
  //   $('.collapsible').collapsible();
  // });
</script>