<div class="row">

  <form class="col s12 m6 l4">
    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">shopping_basket</i>
        <input id="pantryItem" type="text" ng-model="userPantryItem">
        <label for="pantryItem">What do you have in your pantry?</label>
      </div>
      <ul class="collection" ng-hide="!userPantryItem.length">
        <li class="collection-item pantry-list-item" ng-repeat="item in masterList | filter:{name: userPantryItem}" ng-bind="item.name" ng-click="addItem(item.name)" onclick="Materialize.toast('Added',500)"></li>
      </ul>
      <button class="btn waves-effect waves-light green right" ng-click="addItem(userPantryItem)" onclick="Materialize.toast('Added',500)">Add</button>
    </div>
    <p class="center-align">
      <a class="btn waves-effect waves-light green" ui-sref="pantryBuilder">Go To Pantry Builder</a>
    </p>
    <div class="input-field confirm-delete hide-on-small-only" ng-show="editVisible">
      <div>Editing Item: <strong>{{ activeItem }}</strong></div>
      <div>Edit Purchase Date:</div>
      <input type="date" class="datepicker" ng-model="editedDate">
      <div>Edit Expiration Date:</div>
      <input type="date" class="datepicker" ng-model="editedExpiration">
      <div>Edit Category: <strong ng-click="toggleEditCategory()">{{ editedCategory }}</strong><br></div>
      <div ng-show="editingCategory" ng-click="setCategory(item)" ng-repeat="item in categories">{{item}}</div>
      <div><br><button class="btn waves-effect waves-light green" ng-click="submitItemEdits()" onclick="Materialize.toast('Item Data Edited',500)">Submit</button></div>
    </div>
  </form>

  <div class="col s12 m6 l8">
    <h4 class="center-align">My Pantry List</h4>
    <div class="row">
      <ul class="collection with-header col s12 m12 l6" ng-repeat="itemObj in pantryByCategory | orderBy: 'type'">
        <li class="collection-header"><strong>{{ itemObj.type }}</strong></li>
        <li class="collection-item" ng-repeat="item in itemObj.items | orderBy: ''">
          <div>
            <span class="item-name" ng-click="toggleActive(item)">{{ item }}</span>
            <span class="right"><i class="material-icons" ng-click="toggleDelete(item)">not_interested</i></span>
            <span class="right pantry-button" onclick="Materialize.toast('Out of Item',500)" ng-click="ranOut(item)" ng-show="isStocked(item)">Ran Out</span>
            <div class="confirm-delete" ng-show="isDelete(item)">
              Are you sure you want to delete this? This will erase the information Otto uses to predict when you'll need this item.<br>
              <button class="btn waves-effect waves-light green" ng-click="removeItem(item)" onclick="Materialize.toast('Pantry Item Deleted',500)">Delete Pantry Item</button>
            </div>
            <div class="tags">
              <span class="item-tag">Last Purchased: {{ makeDate(item) }}</span>
              <span class="item-tag">Best Before: {{ makeExpiration(item) }}</span>
            </div>
          </div>
        </li>
      </ul>
    </div>

  </div>


</div>

<script>
  // $(document).ready(function(){
  //   // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
  //   $('.modal-trigger').leanModal();
  // });
  $(document).ready(function(){
    $('.collapsible').collapsible({
      accordion : true // true for accordion style, false for expandable
    });
    $('.datepicker').pickadate({
      selectMonths: true, // Creates a dropdown to control month
      selectYears: 5 // Creates a dropdown of 5 years to control year
    });
  });
</script>