<div class="container">

  <form class="col s12">
    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">shopping_basket</i>
        <input id="pantryItem" type="text" ng-model="userPantryItem">
        <label for="pantryItem">I already have...</label>
      </div>
      <ul class="collection container" ng-hide="!userPantryItem.length">
        <li class="collection-item" ng-repeat="item in masterList | filter:{name: userPantryItem}" ng-bind="item.name" ng-click="setItem(item.name)"></li>
      </ul>
      <button class="btn waves-effect waves-light green right" ng-click="addItem(userPantryItem)" onclick="Materialize.toast('Added Pantry Item',500)">Add</button>
    </div>
  </form>

  <ul class="collection">
    <li class="collection-item" ng-repeat="item in pantryList | orderBy: 'name'">{{ item.name }}
      <span class="right pantry-button" onclick="Materialize.toast('Out of Item',500)" ng-click="ranOut(item.name)" ng-show="item.fullyStocked">Ran Out</span>
    </li>
  </ul>
  
  <div class="center-align">
    <a class="btn waves-effect waves-light green" ui-sref="pantryBuilder">Go To Pantry Builder</a>
  </div>
</div>