<div class="row">
<h4 class="center-align">Pantry Builder</h4>
  <ul class="collection with-header col s12 m6 l4" ng-repeat="category in categories">
    <li class="collection-header" ng-click="setVisible(category)"><strong>{{category}}</strong></li>
    <li class="collection-item pantry-list-item" ng-repeat="item in masterList | filter: {type: category}" ng-show="checkVisible(category)">
      <span class="item-name">{{ item.name }}</span>
      <span class="item-options">
        <span class="pantry-button" ng-show="!loadingPantry() && !isAdded(item.name)" ng-click="addItem(item.name)" onclick="Materialize.toast('Added To Pantry',500)">Have</span>
        <span class="pantry-button" ng-show="!loadingPantry() && !isAdded(item.name)" ng-click="needItem(item.name)" onclick="Materialize.toast('Added To Shopping List',500)">Need</span>
        <span class="pantry-button-disabled" ng-show="!loadingPantry() && isAdded(item.name)">Added</span>
        <span class="pantry-button-loading" ng-show="loadingPantry()">Loading...</span>
      </span>
    </li>
  </ul>

</div>



<script>
  // $(document).ready(function(){
  //   $('.collapsible').collapsible();
  // });
</script>