<div>      
  <ul class="collapsible" data-collapsible="accordion">
    <li>
      <div class="collapsible-header"><i class="material-icons">speaker_notes</i>You Might Need...<span class="badge">{{ suggestions.length }}</span></div>
      <div class="collapsible-body container">
        <ul class="collection">
          <li class="collection-item" ng-repeat="item in suggestions track by $index">{{ item }}
            <span class="right">
              <i class="material-icons" onclick="Materialize.toast('Suggestion removed',500)" ng-click="removeSuggestion($index)">not_interested</i>
              <i class="material-icons" onclick="Materialize.toast('Added to list',500)" ng-click="addSuggestion($index)">done</i>
            </span>
          </li>
        </ul>
      </div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">whatshot</i>What's In Season?</div>
      <div class="collapsible-body container">
        
        <div class="row">
          <div class="col s6 m4" ng-repeat="fruit in summer track by $index">
            <div class="card grey">
              <div class="card-content white-text">
                <span class="card-title" ng-bind="fruit"></span>
              </div>
              <div class="card-action">
                <i class="material-icons left">not_interested</i>
                <i class="material-icons right">done</i>
              </div>
            </div>
          </div>
        </div>

      </div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">place</i>Farmer's Markets Today</div>
      <div class="collapsible-body">
        <div ng-bind="todaysMarket.Name"></div>
        <div ng-bind="todaysMarket.Address"></div>
        <div ng-bind="todaysMarket.Products"></div>
        <div ng-bind="todaysMarket.Schedule"></div>
        <div><a ng-href="{{ todaysMarket.GoogleLink }}">Map</a></div>
      </div>
    </li>
  </ul>

</div>
