<div class="row">
  <div class="col s12 m6 l4">
    <ul class="collapsible" data-collapsible="expandable">

      <li>
        <div class="collapsible-header active"><i class="material-icons">whatshot</i><strong>Products In Season</strong></div>
        <div class="collapsible-body">
          <ul class="collection">
            <li class="collection-item" ng-repeat="obj in seasonalList | orderBy: 'name'">
              {{ obj.name }}
              <span  class="cursor right pantry-button" onclick="Materialize.toast('Added!',500)" ng-click="addSeasonalItem(obj.name)" ng-show="!obj.inList && !obj.inPantry">Add</span>
              <span class="cursor right pantry-button-disabled" ng-show="obj.inList">In List</span>
              <span class="cursor right pantry-button-disabled" ng-show="obj.inPantry">In Pantry</span>
            </li>
          </ul>
        </div>
      </li>

    </ul>
  </div>

  <div class="col s12 m6 l8">
    <ul class="collapsible" data-collapsible="accordion">
      <li>
        <div class="collapsible-header active"><i class="material-icons">place</i>Farmer's Markets Nearby</div>
        <div class="collapsible-body">

          <div class="row">

            <div class="card small col s12 m12 l6" ng-repeat="market in markets">
              <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" ng-src="{{ market.image }}">
              </div>
              <div class="card-content">
                <span class="activator grey-text text-darken-4">{{ market.name }}<i class="material-icons right">more_vert</i></span>
                <p>{{ market.schedule }}</p>
              </div>
              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">{{ market.name }}<i class="material-icons right">close</i></span>
                <p><a ng-href="{{ market.map }}">{{ market.address }}</a></p>
                <p>{{ market.description }}</p>
              </div>
            </div>

          </div>

        </div>
      </li>
    </ul>
  </div>

</div>

<script>
  $(document).ready(function(){
    $('.collapsible').collapsible({
      accordion : false // true for accordion style, false for expandable
    });
  });
</script>